@-webkit-keyframes flyaround {
    0% {
        -webkit-transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2) rotateX(-7deg) rotateY(16deg);
        transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2) rotateX(-7deg) rotateY(16deg);
    }
    100% {
        -webkit-transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2) rotateX(0deg) rotateY(0deg);
        transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2) rotateX(0deg) rotateY(0deg);
    }
}
@keyframes flyaround {
    0% {
        -webkit-transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2) rotateX(-7deg) rotateY(16deg);
        transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2) rotateX(-7deg) rotateY(16deg);
    }
    100% {
        -webkit-transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2) rotateX(0deg) rotateY(0deg);
        transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2) rotateX(0deg) rotateY(0deg);
    }
}
* {
    box-sizing: border-box;
}
#cinema-canvas {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #222;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    overflow: hidden;
}
#cinema {
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: -40px;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: flyaround 5s;
    animation: flyaround 5s;
    -webkit-transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2);
    transform: translateX(-50%) translate3d(0px, 200px, 500px) scale3d(1, 1, 2);
}
#cinema .row {
    width: 60%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    float: left;
    margin-left: 188px;
}
#cinema .row:first-child {
    -webkit-transform: translate3d(0px, 0px, -200px);
    transform: translate3d(0px, 0px, -200px);
}
#cinema .row:nth-child(2) {
    -webkit-transform: translate3d(0px, -10px, -124px);
    transform: translate3d(0px, -10px, -124px);
}
#cinema .row:nth-child(3) {
    -webkit-transform: translate3d(0px, -20px, -51px);
    transform: translate3d(0px, -20px, -51px);
}
#cinema .row:nth-child(4) {
    -webkit-transform: translate3d(0px, -30px, 22px);
    transform: translate3d(0px, -30px, 22px);
}
#cinema .row:nth-child(5) {
    -webkit-transform: translate3d(0px, -40px, 95px);
    transform: translate3d(0px, -40px, 95px);
}
#cinema .row:nth-child(6) {
    -webkit-transform: translate3d(0px, -50px, 168px);
    transform: translate3d(0px, -50px, 168px);
}
#cinema .row:nth-child(7) {
    -webkit-transform: translate3d(0px, -60px, 241px);
    transform: translate3d(0px, -60px, 241px);
}
#cinema .row:nth-child(8) {
    -webkit-transform: translate3d(0px, -70px, 314px);
    transform: translate3d(0px, -70px, 314px);
}
#cinema .row:nth-child(9) {
    -webkit-transform: translate3d(0px, -80px, 387px);
    transform: translate3d(0px, -80px, 387px);
}
#cinema .row:nth-child(10) {
    -webkit-transform: translate3d(0px, -90px, 460px);
    transform: translate3d(0px, -90px, 460px);
}
#cinema .row .seat,
#cinema .row .gang {
    width: 4%;
}
#cinema .row .seat {
    background: url('../files/size1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}
#cinema .wand {
    position: absolute;
    height: 500px;
    width: 1000px;
    background: #333;
    border: 2px solid #111;
}
#cinema .wand.links {
    -webkit-transform: translateX(-500px) rotateY(-90deg);
    transform: translateX(-500px) rotateY(-90deg);
    height: 500px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../files/vorhang.jpg');
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../files/vorhang.jpg');
    background-size: contain;
    background-repeat: repeat-x;
}
#cinema .wand.rechts {
    -webkit-transform: translateX(500px) rotateY(90deg);
    transform: translateX(500px) rotateY(90deg);
    height: 500px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../files/vorhang.jpg');
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../files/vorhang.jpg');
    background-size: contain;
    background-repeat: repeat-x;
}
#cinema .wand.hinten {
    -webkit-transform: translateZ(-500px) rotateX(0deg);
    transform: translateZ(-500px) rotateX(0deg);
    background: url('../files/vorhang.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
}
#cinema .wand.hinten video {
    position: absolute;
    width: 870px;
    height: 470px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-49%);
    transform: translateX(-49%);
    border: 15px solid #adaa95;
    background: #adaa95;
}
#cinema .wand.oben {
    -webkit-transform: translateY(-500px) rotateX(90deg);
    transform: translateY(-500px) rotateX(90deg);
    background: #222;
    height: 1000px;
}
#cinema .wand.boden {
    -webkit-transform: translateY(-26px) rotateX(-82deg);
    transform: translateY(-26px) rotateX(-82deg);
    height: 1000px;
    background: #111;
}
#cinema .wand.buehne {
    -webkit-transform: translateY(0px) rotateX(-90deg);
    transform: translateY(0px) rotateX(-90deg);
    height: 1000px;
    background: #111;
}
.mittelpunkt {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #fff;
}
#reservation {
    opacity: .2;
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    width: 268px;
    padding: 25px 10px 10px 10px;
    border-radius: 6px;
    border-top: 5px solid red;
    transition: .5s;
}
#reservation:hover {
    transition: .5s;
    opacity: 1;
}
#reservation .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
#reservation .row .seat,
#reservation .row .gang {
    width: 20px;
}
#reservation .row .seat {
    height: 20px;
    background: #aaa;
    margin-bottom: 3px;
    margin-right: 3px;
    border-radius: 3px;
}
#reservation .row .seat:hover {
    background: red;
    cursor: pointer;
}
#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#controls:hover {
    opacity: 0.9;
}
#controls div {
    padding: 10px;
}
#controls label {
    font-size: 0.8em;
    font-weight: bold;
    display: block;
}
#controls input[type="number"] {
    width: 90px;
}
